black==23.9.1
certifi==2023.7.22
charset-normalizer==3.3.0
click==8.1.7
cssselect==1.2.0
docopt==0.6.2
idna==3.4
lxml==4.9.3
mypy-extensions==1.0.0
nba_api==1.3.0
numpy==1.26.0
objectpath==0.6.1
packaging==23.2
pathspec==0.11.2
platformdirs==3.11.0
pyaml==23.9.7
pydash==7.0.6
pyquery==2.0.0
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
rauth==0.7.3
requests==2.31.0
setuptools==68.2.2
six==1.16.0
tabula==1.0.5
typing_extensions==4.8.0
urllib3==2.0.6
yahoo-fantasy-api==2.8.0
yahoo-oauth==2.0
